* {
    margin: 0;
    padding: 0;
}

.img-google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    width: 275px;
  }
 form {
     text-align: center;
 }

 .search-button {
     text-align: center;
 }

.topnav {
   
}

 ul {
    position: fixed;
    top: 0;
    width: 100%;
 }

 ul li {
    list-style: none;
    float: left;
    display: block;
    padding: 8px;

 }

 ul li a {
     text-decoration: none;
}