/* quick reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html {
    height: 100%;
    height: 100vh;
}

body {
    height: auto;
    width: auto;
    min-height: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 100%;
}
.page {
    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Nav bar */ 

.nav {
    width: 100%;
   padding: 6;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_item:nth-child(2) {
    margin-right: auto;
}

 .nav_link {
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    margin: 0px 0px 1px 5px;
    color: rgba(0,0,0,0.87);
}

.nav_link-right {
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
    margin: 0px 0px 1px 5px;
    color: rgba(0,0,0,0.87);
}
.nav_item:nth-child(1) {
    margin-left: 10px;
}

/* Nav bar - app icon */
.iconcontainer {
    height: 35px;
    width: 35px;
}
.appsicon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 4px;
    right: 14px;
    margin-left: 20px;
    fill: #5f6368;
    fill-opacity: 1;
    cursor: pointer;
}

.nav_item:nth-child(4) {
    margin-right: 10px;
}


/* Nav bar - profile icon */

  .image-git {
    width: 42px;
    height: 42px;
    padding: 4px;
    margin: 2px;
}

.grayhover:hover, .iconcontainer:hover {
background-color: rgba(95,99,104,0.24);
border-radius: 20px;
}

.image_description {
  background:rgba(60,64,67,0.90);
  color:white;
  visibility: hidden;
}

.grayhover:hover + .image_description {
    visibility: visible;
    opacity: 1;
}



/* Google logo */

.logo {
    width: 275px;
    display: block;
    max-width: 100%;
    height: auto;
  }



/* google search bar */

.form {
    margin: 0 auto;
}
 .form-container {
   border: 1px solid red;
position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    
 }

 .search-container {
     display: flex;
     align-items: center;
     height: 48px;
     width:584px;
     border: 1px solid #dfe1ef;
     border-radius: 24px;
     padding: 0 15px;
     
 }
 .search-icon {
    height: 20px; 
    width: 20px;
    margin-right: 5px;
    font-size: 14px;
    fill: #9aa0a6;
 }
 
 .search {
     width: 100%;
     height: 40px;
     padding: 5px;
     font-size: 1rem;
     border: none;
    outline: none;
    cursor: text;
 }
 .mic-icon {
    height: 25px; 
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
 }

 .se-eff:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
 }

 .button-container {
     padding: 15px;
 }

 .search-button {
     text-align: center;
     background-color: #f8f9fa;
     color: #3c4043;
     border: 1px solid #f8f9fa;
     height: 36px;
     margin: 11px 4px;
     padding: 5px 16px;
 }
 

.search-button:hover {
    cursor: pointer;
}

/* Footer */


.footer {
    width: 100%;
    background-color:#f2f2f2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_list {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px;
    margin: 0 20px;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    
}

.footer_link {
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
}

.firstfooter {
    margin-right: 100px;
}
.carbon {
   padding: 0;
}

/* Leaf style*/
.leaf {
    height: .90rem;
    margin: 1px;
}

/* link effects */

a:visited:active {
    color: #609;
}
a:hover {
    text-decoration: underline;
}

a {
    cursor: pointer;
}


/* Media queries */

@media screen and (max-width: 1200px){
    .footer {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer_list:nth-child(2){
        width: 100%;
        order: -1;   
    }

    .firstfooter {
        margin: 0;
    }
    .firstfooter > li {
       margin: 0 auto;
    }
  
}

@media screen and (max-width: 750px){
   
   
}

