* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.image-google {
    width: 275px;
    display: block;
    margin: 185px auto auto;
    max-width: 100%;
    height: auto;
    
  }
.image-git {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 4px;
    border-radius: 2px;
}

.grayhover:hover {
background-color: rgba(95,99,104,0.24);
border-radius: 99%;
}

 form {
     text-align: center;
 }

 .search-button {
     text-align: center;
 }

.right-items {

}



nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
 }

 nav ul li {
    list-style: none;
    float: left;
    display: block;
    padding: 8px;
 }

 nav ul li a {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer ul {
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 footer ul li {
    list-style: none;
    float: left;
    display: inline;
    padding: 8px;
 }

 footer ul li a {
    text-decoration: none;
}